*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type:none;
    text-decoration: none;

}
:root{
    --main-color:#439399;
    --second-color:#cdcfd6;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px;
    border:2px solid #e91919 ;
    width: 100%;
    background-color: var(--second-color);

}
#logo{

width: 90px;
height: 90px;
border-radius: 50%;
border: 1px solid red;
}
#menuList
{
    width: 1000px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
li{
font-size: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.active{
    color: red;
    border-bottom: 2px solid red;
    /* padding-bottom: 10px; */

}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background:url(kapak.png) no-repeat;
    width: 100%;
    height: 100vh;
}
h1{
   background-color: white;
   color: black;
    margin-top: 50px;
    width: fit-content;
    height: 50px;
    padding: 10px;
    border-radius: 30px;
    

}
.btn{
    width:fit-content;
    height: 50px;
    padding: 10px 20px 10px 20px;
    border:1px solid  black;
    background-color:black;
    color: white;
    border-radius: 10px;



}
.btn:hover{
    opacity: 0.5;
  
}
#logoimage{
    width: 100px;
    height: 100px;
    border-radius: 30%;
}
 .box-container .box {
    margin-left: 1rem;
    margin-top: 2rem;
    padding: 2rem;
    background-color: white;
    border-radius: 3rem;
    height: 18rem;
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  #footer
  {
    width: 100%;
    height: 100px;
    display: flex ;
    align-items: center;
    background-color: var(--second-color);
    border: #e91919 2px solid;
    
  }
  .box-container{
    display: flex;
    align-items: center;
    overflow: visible;
  }

  #kitapimg{
    width: 100px;
    height: 120px;
  }
  span{
    font-size: 12px;
    color: #e91919;
text-decoration: line-through ;
  }
  #iconlar{
    font-size: 50px;
  }
  #Sepettekiler
  {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 50px;
    height: 50px;

  }
  #number{
    position:absolute;
    width: 20px;
    height: 20px;

  }
  .ekle-btn{
    background: var(--second-color);
 }
 .eklendi{
    color: red;
    font-size: 20px;
    margin-top: 0;
    display: none;
 }
 .display{
    display: flex;
 }
 #information{
  color: black;
  font-size: 60px;
 }